@import 'partials/variables';

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.nonmetallic {
  .round {
    background-color: $pink;
  }
  &:hover {
    .category-type-filter {
      color: $pink;
    }
  }
  .active {
    color: $pink !important;
  }
}

.alkalineEarthMetal {
  .round {
    background-color: $green;
  }
  &:hover {
    .category-type-filter {
      color: $green;
    }
  }
  .active {
    color: $green !important;
  }
}

.alkalineMetal {
  .round {
    background-color: $orange;
  }
  &:hover {
    .category-type-filter {
      color: $orange;
    }
  }
  .active {
    color: $orange !important;
  }
}

.transitionMetal {
  .round {
    background-color: $yellow;
  }
  &:hover {
    .category-type-filter {
      color: $yellow;
    }
  }
  .active {
    color: $yellow !important;
  }
}

.halfMetal {
  .round {
    background-color: $blue;
  }
  &:hover {
    .category-type-filter {
      color: $blue;
    }
  }
  .active {
    color: $blue !important;
  }
}

.metal {
  .round {
    background-color: $teal;
  }
  &:hover {
    .category-type-filter {
      color: $teal;
    }
  }
  .active {
    color: $teal !important;
  }
}

.nobleGas {
  .round {
    background-color: $purple;
  }
  &:hover {
    .category-type-filter {
      color: $purple;
    }
  }
  .active {
    color: $purple !important;
  }
}

.actinide {
  .round {
    background-color: $light-blue;
  }
  &:hover {
    .category-type-filter {
      color: $light-blue;
    }
  }
  .active {
    color: $light-blue !important;
  }
}

.lanthanide {
  .round {
    background-color: $light-green;
  }
  &:hover {
    .category-type-filter {
      color: $light-green;
    }
  }
  .active {
    color: $light-green !important;
  }
}

.other {
  .round {
    background-color: #d4dadc;
  }
  &:hover {
    .category-type-filter {
      color: #d4dadc;
    }
  }
  .active {
    color: #d4dadc !important;
  }
}

.element {
  position: relative;
  width: $elementBoxSize;
  height: $elementBoxSize;
  margin: 0 5px 5px 0;
  border-radius: 4px;
  background-image: linear-gradient(136deg, #272f3f 0%, #1d232f 100%);
  color: #59637a;
  cursor: pointer;
  .group-no {
    color: #59637a;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: -23px;
    text-align: center;
    width: $elementBoxSize;
  }
  .period-no {
    color: #59637a;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    left: -25px;
    height: $elementBoxSize;
    line-height: $elementBoxSize;
  }
  .wrapper {
    margin: 0.2em;
  }
  .number {
    opacity: 0.6;
    font-size: 0.5em;
  }
  .symbol {
    font-size: 0.9em;
    font-weight: 800;
    margin-top: 2px;
  }
  .name {
    font-size: 0.5em;
    font-weight: 600;
    color: #bec1c6;
    margin-top: 2px;
  }
  .atomic-mass {
    opacity: 0.6;
    font-size: 0.45em;
    margin-top: 1px;
  }
}

.hover-pink {
  &:hover {
    box-shadow: 0 0 40px 0 rgba(255, 133, 214, 0.4);
  }
}

.hover-yellow {
  &:hover {
    box-shadow: 0 0 40px 0 rgba(223, 209, 112, 0.4);
  }
}

.hover-blue {
  &:hover {
    box-shadow: 0 2px 40px 0 rgba(136, 158, 255, 0.4);
  }
}

.hover-orange {
  &:hover {
    box-shadow: 0 2px 40px 0 rgba(255, 175, 128, 0.4);
  }
}

.hover-darkteal {
  &:hover {
    box-shadow: 0 2px 40px 0 rgba(153, 255, 252, 0.4);
  }
}

.hover-purple {
  &:hover {
    box-shadow: 0 2px 40px 0 rgba(185, 148, 250, 0.4);
  }
}

.hover-green {
  &:hover {
    box-shadow: 0 2px 40px 0 rgba(175, 239, 142, 0.4);
  }
}

.hover-teal {
  &:hover {
    box-shadow: 0 2px 40px 0 rgba(153, 255, 252, 0.4);
  }
}

.hover-coldgreen {
  &:hover {
    box-shadow: 0 2px 40px 0 rgba(195, 255, 128, 0.4);
  }
}

.hover-gray {
  &:hover {
    box-shadow: 0 2px 40px 0 rgba(153, 255, 252, 0.4);
  }
}


.pink-active {
  box-shadow: 0 0 40px 0 rgba(255, 133, 214, 0.4);
  background-image: linear-gradient(135deg, #ff97dc, #ff71cf 100%, #ff70ce 100%);
}

.yellow-active {
  box-shadow: 0 0 40px 0 rgba(223, 209, 112, 0.4);
  background-image: linear-gradient(127deg, #ffef80 46%, #b3a75a 100%);
}

.blue-active {
  box-shadow: 0 2px 40px 0 rgba(136, 158, 255, 0.4);
  background-image: linear-gradient(135deg, #acbdff, #8095ff);
}

.orange-active {
  box-shadow: 0 2px 40px 0 rgba(255, 175, 128, 0.4);
  background-image: linear-gradient(135deg, #ffaf80, #ed954b 100%);
}

.darkteal-active {
  box-shadow: 0 2px 40px 0 rgba(153, 255, 252, 0.4);
  background-image: linear-gradient(135deg, #80d5ff, #56d9d7);
}

.purple-active {
  box-shadow: 0 2px 40px 0 rgba(185, 148, 250, 0.4);
  background-image: linear-gradient(135deg, #d5b7ff, #aa80ff);
}

.green-active {
  box-shadow: 0 2px 40px 0 rgba(175, 239, 142, 0.4);
  background-image: linear-gradient(136deg, #80ff8e 0%, #3bde4d 100%);
}

.teal-active {
  box-shadow: 0 2px 40px 0 rgba(153, 255, 252, 0.4);
  background-image: linear-gradient(135deg, #80fffc, #56d9d7);
}

.coldgreen-active {
  box-shadow: 0 2px 40px 0 rgba(195, 255, 128, 0.4);
  background-image: linear-gradient(136deg, #c3ff80 0%, #8cd737 100%);
}

.gray-active {
  box-shadow: 0 2px 40px 0 rgba(153, 255, 252, 0.4);
  background-image: linear-gradient(135deg, #dee5e7, #4b5050);
}

.element-searched {
  .number {
    color: #222938;
  }
  .symbol {
    color: #222938;
  }
  .name {
    color: #222938;
  }
  .atomic-mass {
    color: #222938;
  }
}

.search-not-found {
  background-image: linear-gradient(136deg, #272f3f 0%, #1d232f 100%);

  .number {
    color: #6d7383;
  }
  .symbol {
    color: #6d7383;
  }
  .name {
    color: #6d7383;
  }
  .atomic-mass {
    color: #6d7383;
  }
}

.element-empty {
  width: $elementBoxSize;
  height: $elementBoxSize;
  margin: 0 5px 5px 0;
  padding: 3px 0 3px 3px;
  text-align: center;
}

.purple {
  color: #222938;
  box-shadow: 0 2px 40px 0 rgba(185, 148, 250, 0.4);
  background-image: linear-gradient(135deg, #d5b7ff, #aa80ff);
}
.blue {
  color: #222938;
  box-shadow: 0 2px 20px 0 rgba(136, 158, 255, 0.4);
  background-image: linear-gradient(135deg, #acbdff, #8095ff);
}
.teal {
  color: #222938;
  box-shadow: 0 2px 20px 0 rgba(153, 255, 252, 0.4);
  background-image: linear-gradient(135deg, #80fffc, #56d9d7);
}
.orange {
  color: #222938;
  box-shadow: 0 2px 40px 0 rgba(255, 175, 128, 0.4);
  background-image: linear-gradient(135deg, #ffaf80, #ed954b 100%);
}

.tooltip {
  width: 200px;
}

.row {
  border-bottom: solid 1px rgba(135, 140, 151, 0.15);
  height: 40px;
  display: flex;
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
  }
  .menu-title {
    max-width: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    color: $gray;
  }
}

.dark-row-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
}
.dark-row {
  position: relative;
  display: flex;
  height: 40px;
  background-color: rgba(2, 2, 3, 0.32);
  border-bottom: solid 1px rgba(135, 140, 151, 0.04);
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
  }
  .menu-title {
    max-width: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    color: #9fa3ab;
  }
}

.darker-row {
  display: flex;
  height: 40px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(2, 2, 3, 0.48);
  border-bottom: solid 1px rgba(135, 140, 151, 0.04);
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
  }
  .menu-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    color: $gray;
    opacity: 0.8;
    max-width: 108px;
  }
}

.menu-value {
  font-size: 12px;
  font-weight: 800;
  color: $white;
  display: flex;
  align-items: center;
}

.el-dialog {
  background-color: #272f3f !important;
}

.info-modal {
  .el-dialog__header {
    background-image: url('../../assets/images/rectangle.png');
    background-repeat: no-repeat;
    background-size: 100% 150px;
    padding: 20px;
  }
  .el-dialog__body {
    padding: 15px 20px;
    height: 50vh;
    overflow: auto;
  }
}

.device-orientation {
  .el-dialog__header {
    height: 210px;
    padding: 20px;
  }
  .el-dialog__body {
    padding: 15px 20px;
    height: 320px;
    overflow: auto;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #e7bc0b;
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  background: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 0 #F0F0F0;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffe476;
}
