//VARIABLES


//-> Breakpoints
$tablet: 1199.98px;
$verticalTablet: 991.98px;
$mobile: 767.98px;
$xsMobile: 374.98px;

//->Colors

$blue: #8095ff;
$light-blue: #80fffc;
$teal: #80d5ff;
$gray: #878c97;
$black: #4A4A4A;
$red: #FA6967;
$green: #80ff8e;
$light-green: #c3ff80;
$orange: #ffaf80;
$yellow: #ffef80;
$pink: #ff80d4;
$white: #fff;
$purple: #aa80ff;

//->Sizes
$elementBoxSize: 3.8vw;
